<%- include('partials/header') -%>

  <div class="container col-xxl-8 px-4 py-5 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-6 py-6">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/meals-made-wild-mtn-text.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1000" height="800" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Recipes by Foragers for Foragers</h1>
        <p class="lead">A community built library of wild food recipes to help inspire you in your wild kitchen.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Sign up
          </a>
        </div>
      </div>
    </div>
  </div>

  
  
    
  
<%- include('partials/footer') -%>