<%- include('partials/header') -%>

  <div class="container col-xxl-8 px-4 py-3 card-container">
    <div class="d-flex flex-column justify-content-start align-items-center">

      <div class="col-10 col-sm-8 col-lg-6 py-5">
        <img src="/imgs/meals-made-wild-mtn-readme.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1000" height="800" loading="lazy">
      </div>

      <div class="col-10 col-sm-8 col-lg-6 d-flex flex-column align-items-center">
        <h1 class="display-6 fw-bold lh-1 mb-3 text-center">Recipes by Foragers for Foragers</h1>
        <p class="lead text-center">A community built library of wild food recipes to help<br>inspire you in your wild kitchen.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn-sign-in btn btn-lg">
            Sign up
          </a>
        </div>
      </div>

    </div>
  </div>
 
<%- include('partials/footer') -%>